@media only screen and (max-width: 1100px) {
body{
	width:100%;
	background-size:1600px;
}
#glowny_naglowek {
	width: 900px;
}
#menuGlowne li.przerwa {
	width:7px;
}
#menuGlowne li.przerwa2 {
	width:15px;
}
#menuGlowne li {
	padding-right: 16px;
	padding-left: 16px;
	font-size: 16px;
	padding-top: 20px;
} 
#baner {
	height: 488px;
}
#slajder {
	height: 488px;

}
.slajd {
	background-size: auto 468px;
	height: 488px;
	width: 100%;
}
.tlo_bialo_czarne {
	width: 100%;
	height:300px;
}
.tlo_bialo_czarne {
	background-image:none;

}
.lewa {
	float: left;
	width: calc(100% - 410px) ;
	background-image: url(../img/tlo_biale.png);
	background-repeat: repeat-y;
	height:300px;
}
.prawa {

	float: right;
	width: 290px;
	background-image: url(../img/tlo_czarn.png);
	background-repeat: repeat-y;
	height:300px;

}
.tlo_transparentne{
width:100%;
}
footer{
width:100%;
}
footer .lewa{
width:60%;
background-image:none;
padding:10px;
height:20px;
}
footer .prawa{

width:30%;
background-image:none;
padding:10px;
padding-right:50px;
height:20px;
}
.tekst h1{
font-size:24px;
padding-bottom:5px;
}
.tekst p{
font-size:13px;
padding-bottom:5px;
}
.tlo_biale{
width:90%;
padding:0px;
}



}

@media only screen and (max-width: 900px) {
header#glowny_naglowek_knt {
	background-position: center -30px ;
	height: auto;
}
#glowny_naglowek {
	width: 100%;
}
#menuGlowne {
	margin-top: 0px;
	padding:0px;
	width:85%;
	
} 
#menuGlowne li.przerwa {
	width:20px;
}
#menuGlowne li.przerwa2 {
	width:0px;
	display:none;
}
#menuGlowne li {
	padding-right: 28px;
	padding-left: 28px;
	font-size: 13px;
	padding-top: 6px;
	height: 22px;
} 
#logo {
	margin-top:10px;
	background:url(../img/kamieniarstwo-podegrodzie-nowy-sacz-700.png) top left;
	width: 280px;
	height: auto;
}
.tekst{
width:90%;
}
.tlo_bialo_czarne {
	width: 100%;
	height:auto;
	background-image:none;
}
img.oberek {
width:27%;
height:auto;
	
}
.lewa {
	float: none;
	width: 90%;
	background-image: url(../img/tlo_biale.png);
	background-repeat:repeat;
	height:auto;
	padding:40px;
	margin-right:80px;
}
.prawa {
   
	float: none;
	width: 90%;
	background-image: url(../img/tlo_czarn.png);
	background-repeat: repeat;
	height:auto;
	padding:40px;
	margin:0 auto;	

}

.cycle-slideshow {
margin:0 auto;
width:285px;
}
.tekst h1{
font-size:30px;
padding-bottom:15px;
}
.tekst p{
font-size:14px;
padding-bottom:5px;
}
footer .lewa{
width:90%;
}
footer .prawa{
width:90%;
text-align:right;
}
.tlo_biale{
width:80%;
}
.formTextarea{
width:100%;
}

ul.kolumna_2 li{
width:90%;
float:none;
}
.mapka{
width:400px;
height:300px;

}
}

@media only screen and (max-width: 700px) {
#baner_glowny {
	display:none;
}
header#glowny_naglowek_knt {
	background-position: center -30px ;
	height: auto;
	background-image:none;
	box-shadow:0px 0px 25px rgba(0,0,0,0.2);
	position:static;
}
#glowny_naglowek {
	width: 100%;
}

#menu_mobil {
	
	display:block;
	margin: 0px auto 0px auto;
	cursor:pointer;
}

#menuGlowne {
	padding-top: 0px;
	padding-bottom: 0px;
	width:100%;
	float:none;
} 
#menuGlowne li.przerwa {
	width:0px !important;
	height:0px !important;
	display:none;
}
#menuGlowne li {
	padding-right: 5px;
	padding-left: 1px;
	width:100%;
	font-size: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 35px;
	float:none;
	display:block;
	
} 
#menuGlowne ul li a {
font-size:16px;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	color:#FFFFFF;
	text-decoration: none;
	
}
#logo {
	margin-top:10px;
	margin-right:400px;
	background:url(../img/kamieniarstwo-podegrodzie-nowy-sacz-700.png) top left;
	width: 280px;
	height: auto;
}
#baner{
display:none;
}
#strona{
margin-top:0px;
position:static;
}

ul.oferta li{
width:80%;
}
.oberek{
width:40%;
height:auto;
}


.tlo_biale{
padding:10px 0px;
width:100%;
}

.mapka {
	width:300px;
	height: 300px;
}
ul.kontakt li{
width:45%;
}
img.oberek {
width:35%;
height:auto;
	
}
}

@media only screen and (max-width: 450px) {
.tekst
#logo {
	width: 90%;
	height: auto;
}

ul.kontakt li{
width:90%;
}
.lewa {
	float: none;
	width: 80%;
}
.mapka {
	width:200px;
	height: 200px;
}
footer .prawa img{
padding-right:50px;
}